# Pandas Series exercises

In [4]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.1.2

### Series creation

#### create an empty pandas series

In [5]:
pd.Series()

Series([], dtype: object)

#### Given the X python list convert it ito an Y pandas Series

In [6]:
X = ['A', 'B', 'C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

#### Given the X pandas Series, name it 'My letters'

In [7]:
X = pd.Series(['A', 'B', 'C'])
X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

#### Given the X pandas Series, show its values

In [8]:
X = pd.Series(['A', 'B', 'C'])
X.values

array(['A', 'B', 'C'], dtype=object)

### Series Indexation

#### Assign index names to the given X pandas Series

In [9]:
X = pd.Series(['A', 'B', 'C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

#### Given the X pandas Series, show its first element

In [10]:
X = pd.Series(['A', 'B', 'C'], index=['first', 'second', 'third'])
X['first']

'A'

### Given the X pandas Series, show it's last element

In [11]:
X = pd.Series(['A', 'B', 'C'], index=['first', 'second', 'third'])
X['third']

'C'

### Given the X pandas Series, show all middle elements

In [17]:
X = pd.Series(['A', 'B', 'C', 'D', 'E'], 
              index=['first', 'second', 'third','forth', 'fifth'])
X[1:-1]

second    B
third     C
forth     D
dtype: object

### Given the X pandas Series, show the elements in reverse position

In [19]:
X = pd.Series(['A', 'B', 'C', 'D', 'E'],
              index=['first', 'second', 'third', 'forth', 'fifth'])
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

### Given the X pandas Series, show the first and last elements

In [22]:
X = pd.Series(['A', 'B', 'C', 'D', 'E'],
              index=['first', 'second', 'third', 'forth', 'fifth'])
X.iloc[[0, -1]]

first    A
fifth    E
dtype: object

### Series Manipulation

#### Convert the given integer pandas Series to float

In [26]:
X = pd.Series([1,2,3,4,5],
              index=['first', 'second', 'third', 'forth', 'fifth'])
pd.Series(X, dtype=np.float_)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

#### Reverse the given pandas Series (first element becomes last)

In [27]:
X = pd.Series([1,2,3,4,5],
              index=['first', 'second', 'third', 'forth', 'fifth'])
X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

#### Order (sort) the given pandas Series

In [28]:
X = pd.Series([4,2,5,1,3],
              index=['forth', 'second', 'fifth', 'first', 'third'])
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

#### Given the X pandas Series, set the fifth element equal to 10